services:
  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    env_file:
      - ../.env.production
    networks:
      - ecom-network
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    env_file:
      - ../.env.production
    networks:
      - ecom-network
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db
      - ../backup/prod:/backup
    networks:
      - ecom-network

networks:
  ecom-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local